# Yerel loglar ve veritabanları (GitHub'a gitmemeli)
denetim_kaydi.txt
ioc_list.json

# Python derleme kalıntıları
__pycache__/
*.pyc
*.pyo
*.pyd

# Sanal ortam klasörleri (Sadece kodlar yüklenir, kütüphaneler değil)
venv/
env/
.env

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db